.animalList {
  padding-bottom: 70px;
  height: calc(100% - 65px);
  max-height: calc(100% - 65px);
  overflow: hidden;
  width: 325px;
  border-right: 1px solid var(--primary-grey-light);
  float: left;
  position: relative;
}

.animalList-inner {
  height: calc(100% + 10px);
  overflow: auto;
}

.animalList-item {
  height: 60px;
  position: relative;
  transition: all 0.5s;
}

.animalList-empty {
  height: 100%;
  position: relative;
  margin-right: 20px;
  min-height: 70px;
}

.animalList-empty span {
  color: var(--primary-grey-dark);
  font-family: var(--primary-font);
  font-size: 13px;
  font-weight: 400;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  min-width: 240px;
}

.animalList .active {
  background-color: var(--primary-white);
  padding-left: 10px;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 7px;
  border: 1px solid var(--primary-black);
}

.animalList .active span {
  color: var(--primary-black) !important;
}

.animalList-item-inner {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.animalList-add {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: inherit;
  border-top: 1px solid var(--primary-grey-light);
}

.animalList-add-inner {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 20px;
  background-color: var(--primary-white);
}

/* scroll bar */

.animalList-inner::-webkit-scrollbar {
  width: 4px;
  height: 40px;
}

.animalList-inner::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.animalList-inner::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--scrollbar-thumb);
}
