.he {
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-white);
}

.he-con {
  display: block;
}

.he-con-img {
  width: 350px;
  display: block;
  z-index: -1;
}

.he-con-mes {
  color: black;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: -150px;
  margin-left: 200px;
  position: relative;
  background-color: var(--primary-white);
  padding: 22px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 14px;
}

.he-con-mes-head {
  display: block;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--secondary-font);
}

.he-con-mes-text {
  display: block;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  font-family: var(--secondary-font);
  max-width: 350px;
}

@media only screen and (max-width: 600px) {
  .he {
    display: block;
  }

  .he-con {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .he-con-img {
    width: 100%;
    display: none;
  }

  .he-con-mes {
    margin: 0;
    padding-top: 15px;
    position: relative;
    background-color: transparent;
    padding: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
  }

  .he-con-mes-head {
    display: block;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--secondary-font);
  }

  .he-con-mes-text {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--secondary-font);
  }
}
