.publicHeader {
  max-width: 1280px;
  position: relative;
}

.publicHeader-logo {
  padding-top: 40px;
  display: inline-block;
}

.publicHeader-logo a {
  text-decoration: none;
  color: black;
}

.publicHeader-logo span {
  font-size: 35px;
  font-family: var(--primary-font);
  font-weight: 700;
  text-decoration: none;
}

/* button */

.publicHeader-button {
  padding-top: 50px;
  float: right;
  cursor: pointer;
}

.publicHeader-button button {
  margin-left: auto;
  margin-right: 0;
  border: 1px solid black;
  border-radius: 7px;
  background-color: transparent;
  height: 42px;
  width: 150px;
}

/* menu */

.publicHeader-menu {
  border-radius: 7px;
  position: absolute;
  top: 88px;
  right: 0;
  width: 200px;
  padding: 7px;
  overflow: hidden;
  z-index: 1;
  background-color: white;
  transition: opacity 0.1s ease-in;
  box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
  -webkit-box-shadow: 0 0 1px rgba(39, 44, 49, 0.1),
    0 3px 16px rgba(39, 44, 49, 0.07);
}

.publicHeader-menu a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  border-radius: 10px;
}

.publicHeader-menu-item {
  display: block;
  padding: 12px 0;
  width: 100%;
}

.publicHeader-menu-item:hover span {
  color: black;
}

.publicHeader-menu-item span {
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 500;
  padding-left: 10px;
  color: #8b959e;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.publicHeader-menu-separator {
  border-bottom: 1px solid #8b959e2c;
  margin: 12px 10px;
}
