.categoryTitle {
  height: 50px;
  text-align: center;
  border-bottom: 1px solid var(--primary-grey-light);
}

.categoryTitle span {
  font-family: var(--secondary-font);
  font-weight: 600;
  color: var(--primary-grey-dark);
  line-height: 50px;
  font-size: 14px;
}
