.animals {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0 250px 0 250px;
}

.animals-list {
  margin: 24px 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 24px;
}

.animals-list a {
  text-decoration: none;
}

.animals-list::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.animals-list > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.animals-list-item {
  border: 1px solid var(--primary-grey-light);
  padding: 10px;
  border-radius: 3px;
}

.animals-list-item-image {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background-size: cover;
  border-radius: 9px;
  background-position: center;
}

.animals-list-item .animal-card-small {
  padding: 12px 0 12px 0;
}

.animals-list-item .animal-card-small-breed:hover {
  text-overflow: clip;
  white-space: normal;
  word-break: normal;
}
