.textInputExtended:first-child {
  padding: 0 0 7px 0;
}

.textInputExtended {
  display: flex;
  align-items: center;
  padding-bottom: 7px;
  padding-top: 7px;
  height: 430px;
}

.textInputExtended-input {
  display: inline-block;
  border: none;
  height: 100%;
  width: 100%;
}

.textInputExtended-input textarea {
  width: calc(100% - 240px);
  border: none;
  outline: none;
  padding-left: 2px;
  color: var(--primary-black);
  font-size: 16px;
  font-weight: 400;
  font-family: var(--secondary-font);
  background-color: transparent;
  resize: none;
  padding-right: 25px;
}

.textInputExtended-input textarea::-webkit-scrollbar {
  width: 2px;
}

.textInputExtended-input textarea::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.textInputExtended-input textarea::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.124);
}
