/* test */

.animalFinder {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 30px;
}

.animalFinder-inner {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.animalFinder-form {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.animalFinder-form-submit {
  margin: 100px 0;
  margin-left: auto;
  margin-right: 0;
  width: fit-content;
}

@media (min-width: 1025px) and (max-width: 1320px) {
  .animalFinder-inner {
    padding: 0 24px 0 24px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .animalFinder-inner {
    padding: 0 24px 0 24px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .animalFinder-inner {
    padding: 0 24px 0 24px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .animalFinder-inner {
    padding: 0 24px 0 24px;
  }

  .animalFinder-inner .titleHeader-title span {
    font-size: 24px !important;
  }

  .animalFinder-inner .titleHeader-description {
    width: 75%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .animalFinder-inner {
    padding: 0 24px 0 24px;
  }

  .animalFinder-inner .titleHeader-title span {
    font-size: 24px !important;
  }

  .animalFinder-inner .titleHeader-description {
    width: 75%;
  }
}
