.animalFinder {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0 250px 0 250px;
}

.animalFinder-form-title {
  margin-bottom: 24px;
}

.animalFinder-form-title span {
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: 500;
  color: var(--primary-black);
}

.animalFinder-form {
  min-height: 500px;
  width: 500px;
  float: left;
  border-right: 1px solid var(--primary-grey-light);
  min-height: calc(100% - 65px);
  padding: 24px 24px 24px 0;
}

.animalFinder-results {
  float: left;
  width: calc(100% - 500px);
}

.animalFinder-form-button {
  margin-top: 24px;
  float: left;
}

.animalFinder-results .animals-list {
  margin: 24px 0 24px 24px;
}
