.blogHeaderContent {
  max-width: 1280px;
  height: 500px;
  border: 1px solid transparent;
}

.blogHeaderContent-title {
  margin-top: 200px;
  width: 100%;
  text-align: center;
}

.blogHeaderContent-title span {
  font-size: 70px;
  font-family: var(--secondary-font);
  font-weight: 600;
}

.blogHeaderContent-description {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 60px;
}

.blogHeaderContent-description span {
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 600;
  color: #a0a6ad;
}

@media (min-width: 481px) and (max-width: 767px) {
  .blogHeaderContent {
    padding: 75px 0;
    height: auto;
  }

  .blogHeaderContent-title {
    margin: 0;
  }

  .blogHeaderContent-title span {
    font-size: 30px !important;
  }

  .blogHeaderContent-description {
    width: 75%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .blogHeaderContent {
    padding: 75px 0;
    height: auto;
  }

  .blogHeaderContent-title {
    margin: 0;
  }

  .blogHeaderContent-title span {
    font-size: 24px !important;
  }

  .blogHeaderContent-description {
    width: 75%;
  }
}
