.blogPostContent {
  margin-top: 150px;
  padding: 0 48px 0 48px;
}

.blogPostContent-header {
  min-height: 140px;
  max-height: 140px;
}

.blogPostContent-back {
  width: 100px;
  height: 140px;
  float: left;
}

.blogPostContent-back button {
  margin-top: 6px;
  background-color: transparent;
  border: none;
}

.blogPostContent-back button:hover {
  cursor: pointer;
}

.blogPostContent-back button span {
  font-size: 26px;
  font-family: var(--secondary-font);
  font-weight: 500;
}

.blogPostContent-title {
  width: calc(100% - 100px);
  max-height: 102px;
  float: left;
  overflow: hidden;
}

.blogPostContent-title span {
  font-size: 40px;
  font-family: var(--secondary-font);
  font-weight: 600;
}

.blogPostContent-author {
  width: calc(100% - 100px);
  height: 38px;
  float: left;
  padding-top: 4px;
}

.blogPostContent-author span {
  margin-right: 12px;
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 600;
  color: var(--primary-orange);
}

.blogPostContent-text {
  padding: 24px 0 100px 100px;
}

.blogPostContent-text textarea {
  width: 100%;
  resize: none;
  border: none;
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 400;
  color: #858585;
  line-height: 1.5;
  overflow-y: hidden;
}

.blogPostContent textarea:focus {
  outline: none !important;
  border: none;
}
