.publicBlogPost {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0 320px 0 320px;
  overflow-x: hidden;
  padding-bottom: 30px;
}
