/* Success */

.sm-success {
  width: auto;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  right: 45px;
  background-color: var(--primary-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.08),
    0 0.5rem 0.75rem rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.08),
    0 0.5rem 0.75rem rgba(0, 0, 0, 0.14);
  -webkit-animation: slideIn 0.4s;
  -moz-animation: slideIn 0.4s;
  animation: slideIn 0.4s;
}

@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    width: auto;
  }
}

.sm-success-inn-ico {
  height: 30px;
  width: 30px;
  float: left;
  clear: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.sm-success-inn-title {
  font-size: 13px;
  font-weight: 700;
  font-family: var(--secondary-font);
}

.sm-success-inn-desc {
  min-width: 300px;
  font-size: 13px;
  font-weight: 400;
  font-family: var(--secondary-font);
}

/* Error */

.sm-error {
  width: auto;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  right: 45px;
  background-color: var(--primary-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.08),
    0 0.5rem 0.75rem rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.08),
    0 0.5rem 0.75rem rgba(0, 0, 0, 0.14);
}

.sm-error-inn-ico {
  height: 30px;
  width: 30px;
  float: left;
  clear: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.sm-error-inn-title {
  font-size: 13px;
  font-weight: 700;
  font-family: var(--secondary-font);
}

.sm-error-inn-desc {
  min-width: 300px;
  font-size: 13px;
  font-weight: 400;
  font-family: var(--secondary-font);
}

/* Warning */

.sm-warning {
  width: auto;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  right: 45px;
  background-color: var(--primary-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.08),
    0 0.5rem 0.75rem rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.08),
    0 0.5rem 0.75rem rgba(0, 0, 0, 0.14);
}

.sm-warning-inn-ico {
  height: 30px;
  width: 30px;
  float: left;
  clear: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.sm-warning-inn-title {
  font-size: 13px;
  font-weight: 700;
  font-family: var(--secondary-font);
}

.sm-warning-inn-desc {
  min-width: 300px;
  font-size: 13px;
  font-weight: 400;
  font-family: var(--secondary-font);
}

/* Info */

.sm-info {
  width: auto;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  right: 45px;
  background-color: var(--primary-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.08),
    0 0.5rem 0.75rem rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.08),
    0 0.5rem 0.75rem rgba(0, 0, 0, 0.14);
}

.sm-info-inn-ico {
  height: 30px;
  width: 30px;
  float: left;
  clear: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.sm-info-inn-title {
  font-size: 13px;
  font-weight: 700;
  font-family: var(--secondary-font);
}

.sm-info-inn-desc {
  min-width: 300px;
  font-size: 13px;
  font-weight: 400;
  font-family: var(--secondary-font);
}
