.userAvatar-outer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userAvatar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-black);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.userAvatar-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userAvatar-inner img {
  padding: 4px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
