@keyframes menu-fade-in {
  from {
    height: 0px;
  }
  to {
    height: 102.5px;
  }
}

@keyframes main-menu-fade-in {
  from {
    height: 0px;
  }
  to {
    height: 68.5px;
  }
}

@keyframes add-form-fade-in {
  0% {
    backdrop-filter: blur(1px);
    background-color: rgb(0, 0, 0, 0);
  }
  100% {
    background-color: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(90deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
  }
  60% {
    -webkit-transform: rotate(-90deg);
  }
  80% {
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
