.primaryButton {
  border-radius: 7px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.primaryButton:hover {
  cursor: pointer;
}

.primaryButton span {
  font-family: var(--secondary-font);
  font-size: 12px;
  font-weight: 700;
}
