.admin-blog {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0 20px 0 20px;
  overflow-x: hidden;
}

.admin-blog-sidebar {
  width: 325px;
  height: calc(100% - 65px);
  max-height: calc(100% - 65px);
  overflow: hidden;
  float: left;
  border-right: 1px solid var(--primary-grey-light);
}

.admin-blog-sidebar-title {
  padding: 12px 0 12px 0;
  border-bottom: 1px solid var(--primary-grey-light);
}

.admin-blog-sidebar-title span {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 11px;
  color: var(--primary-orange);
}

.admin-blog-sidebar-list {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 12px 0 12px 0;
  height: calc(100% - 43px);
  max-height: calc(100% - 43px);
}

.admin-blog-sidebar-list-item {
  padding: 4px 0 4px 0;
}

.admin-blog-sidebar-list-item span {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 400;
  color: #858585;
}

.admin-blog-sidebar-list-item:hover {
  cursor: pointer;
}

/* inner */

.admin-blog-workspace {
  float: left;
  width: calc(100% - 325px);
  height: calc(100% - 65px);
  max-height: calc(100% - 65px);
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.admin-blog-workspace-publish-btn {
  width: 70px;
  position: fixed;
  margin-top: 12px;
  margin-left: calc(100% - 460px);
}

.admin-blog-workspace-limiter {
  width: 1000px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.admin-blog-workspace-post-title {
  margin-top: 48px;
}

.admin-blog-workspace-post-title input {
  width: 100%;
  border: none;
  font-family: var(--secondary-font);
  font-size: 34px;
  font-weight: 500;
}

.admin-blog-workspace-post-title input:focus {
  outline: none !important;
  border: none;
}

.admin-blog-workspace-post-text {
  width: 100%;
  margin: 24px 0 48px 0;
}

.admin-blog-workspace-post-text textarea {
  width: 100%;
  border: none;
  font-family: var(--secondary-font);
  font-weight: 400;
  color: #858585;
  line-height: 1.5;
  font-size: 16px;
  resize: none;
  overflow-y: hidden;
}

.admin-blog-workspace-post-text textarea:focus {
  outline: none !important;
  border: none;
}

/*
.admin-blog {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0 20px 0 20px;
  overflow-x: hidden;
}

.admin-blog-table {
  padding: 24px 24px 0 0;
  width: 50%;
  height: calc(100% - 65px);
  min-height: 485px;
  max-height: calc(100% - 65px);
  float: left;
  border-right: 1px solid var(--primary-grey-light);
}

.admin-blog-table table {
  width: 100%;
  font-family: var(--primary-font);
}

.admin-blog-preview {
  padding: 24px 0 24px 24px;
  width: 50%;
  min-height: 485px;
  height: calc(100% - 65px);
  max-height: calc(100% - 65px);
  float: left;
  position: relative;
}

.admin-blog-preview-title {
  margin-bottom: 24px;
}

.admin-blog-preview-title .textInputExtended {
  height: 42px;
}

.admin-blog-preview-title textarea[name="previewTitle"] {
  height: 30px;
  font-size: 22px;
  font-weight: 600;
  font-size: 22px;
}

.admin-blog-preview-title span {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 22px;
}

.admin-blog-preview-text .textInputExtended {
  width: 100%;
  height: 400px;
}

.admin-blog-preview-text .textInputExtended textarea {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.admin-blog-preview .primaryButton {
  position: absolute;
  bottom: 24px;
  right: 0;
}
*/
