@import url(./global/globalfonts.css);
@import url(./global/globalanimations.css);
@import url(./global/globalclasses.css);
@import url(./global/globalcolors.css);

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 860px) {
  body {
    /*display: none;*/
  }
}
