.animalShortDesc {
  width: 100%;
}

.animalShortDesc-name {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.animalShortDesc-name span {
  font-family: var(--primary-font);
  color: var(--primary-black);
  font-size: 17px;
}

.animalShortDesc-description {
  margin-top: 5px;
  text-align: center;
  max-width: 100%;
}

.animalShortDesc-description span {
  font-family: var(--primary-font);
  color: var(--primary-grey-dark);
  font-size: 14px;
}
