.signin {
  background-color: #e8e9f1;
  min-height: 100vh;
  width: auto;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.signin-inner {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  background-color: white;
  padding: 22px;
  border-radius: 14px;
  -webkit-box-shadow: 0px 0px 48px -21px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 48px -21px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 48px -21px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.signin-inner-header img {
  width: 21px;
}

.signin-inner-header span {
  font-weight: 400;
  font-size: 13px;
  font-family: "Quicksand", sans-serif;
}

.signin-inner-header-logo {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 20px;
  width: 140px;
  text-decoration: none;
  color: var(--primary-black);
}

.signin-inner-header-logo .name {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 18px;
  width: 61px;
  text-decoration: none;
  color: var(--primary-black);
}

.signin-inner-header-logo .category {
  font-family: var(--primary-font);
  color: var(--primary-black);
  margin-left: 4px;
}

.signin-inner-form {
  width: 250px;
  margin-top: 22px;
}

.signin-inner-form input {
  width: 100%;
  float: left;
  clear: both;
  height: 24px;
  margin-bottom: 15px;
  border: 1px solid var(--primary-grey-light);
  border-radius: 6px;
}

.signin-inner-form input[type="text"] {
  padding-left: 15px;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  outline: none;
}

.signin-inner-form input[type="password"] {
  padding-left: 15px;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  outline: none;
}

.signin-inner-form button {
  width: 30%;
  float: right;
  clear: both;
  border: 1px solid var(--primary-grey-light) !important;
  background-color: transparent;
  color: var(--primary-grey-dark);
  border: none;
  height: 26px;
  font-weight: 400;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.signin-inner-form button:hover {
  background-color: var(--primary-black);
  color: var(--primary-white);
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

#activeShake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#disabledShake {
  animation: none;
}

/* info */

.signin-info {
  margin: 10px auto;
  width: 295px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-info-icon {
  height: 30px;
  width: 24px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-info-text {
  height: 30px;
  float: left;
  display: flex;
  align-items: center;
}

.signin-info-text span {
  font-family: var(--secondary-font);
  font-size: 12px;
  padding-left: 4px;
  color: black;
}
