.editBreed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editBreed-inner {
  width: 50%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.editBreed-inner .primaryButton {
  margin: 24px 0 10px 0;
  margin-right: 0;
  margin-left: auto;
}

.editBreed-inner-list {
  position: relative;
  margin-top: 48px;
}

.editBreed-inner-list-item {
  position: relative;
}

.editBreed-inner-list-item-delete-btn {
  position: absolute;
  top: 0px;
  right: 0;
}

.editBreed-inner-list-item-delete-btn .primaryButton {
  margin-top: -4.5px;
}
